
body {
  background-color: #fcfcfc;
}

div.body {
  background-color: #fcfcfc;
}

pre {
  border: 1px solid #ccc;
  border-left: 10px solid #ccc;
  border-radius: 2px;
}

dl dl pre {
  margin-left: 0px;
  padding-left: 30px;
}

div.footer {
  text-align: center
}

dl.class dt {
  font-weight: bolder;
}

dl.method dt {
  background-color: #ccc;
  padding-left: 4px;
  border-radius: 2px
}

dl.attribute dt {
  background-color: #d1acff;
  padding-left: 4px;
  border-radius: 2px
}

dl.docutils dt {
  background-color: #fcfcfc;
}



